@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  color-scheme: light dark;

  --primary-bg: #FDFDFD;
  --secondary-bg: #EBEBEB;
  --tetriary-bg: #BFBFBF;
  --primary-text: #202020;
  --primary-color: #7DB9F6;
  --secondary-color: #BEDEFE;
  --tetriary-color: #FF1493;

  --paragraph: "Roboto", sans-serif;
  --paragraph-weight: 400;
  --paragraph-size: 12px;
  --heading: "Roboto", sans-serif;
  --heading-weight: 500;
  --heading-size: 20px;
  --subheading: "Roboto", sans-serif;
  --subheading-weight: 500;
  --subheading-size: 14px;
  
  --primary-border-r: 4px;
  --primary-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);

  --button-width: 309px;
  --button-height: 32px;
  --button-padding: 8px 12px;
}

body {
  font-family: sans-serif;
  margin: 2rem;
}

.headline{
  color: var(--primary-text);
  font-family: var(--heading);
  font-weight: var(--heading-weight);
  font-size: var(--heading-size);
}

.subHeadline{
  color: var(--primary-text);
  font-family: var(--subheading);
  font-weight: var(--subheading-weight);
  font-size: var(--subheading-size);
}

.paragraph{
  color: var(--primary-text);
  font-family: var(--paragraph);
  font-weight: var(--paragraph-weight);
  font-size: var(--paragraph-size);
}

.box{
  border-radius: var(--primary-border-r);
  box-shadow: var(--primary-box-shadow);
}

.button1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  border: 0;
  width: var(--button-width);
  height: var(--button-height);
  padding: var(--button-padding);
  background-color: var(--secondary-color);
  border-radius: var(--primary-border-r);
  box-shadow: var(--primary-box-shadow);
  color: var(--primary-text);
  font-family: var(--subheading);
  font-weight: var(--subheading-weight);
  font-size: var(--subheading-size);
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
}

.button2{
  border: 0;
  width: var(--button-width);
  height: var(--button-height);
  padding: var(--button-padding);
  background-color: var(--primary-color);
  border-radius: var(--primary-border-r);
  box-shadow: var(--primary-box-shadow);
  color: var(--primary-text);
  font-family: var(--subheading);
  font-weight: var(--subheading-weight);
  font-size: var(--subheading-size);
  box-sizing: border-box;
  cursor: pointer;
}

.devareStaff{
  color: var(--tetriary-color);
  text-decoration: underline;
  font-family: var(--subheading);
  font-weight: var(--paragraph-weight);
  font-size: var(--subheading-size);
}

.headerText {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

.buttonContent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.stationInfoContainer{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.stationCard {
  width: 309px;
  height: 91px;
  overflow: hidden;
  position: relative;
  margin-top: 12px;
  margin-bottom: 12px;
}

.stationCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stationCardOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 38%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 0;
}

.searchField{
  width: 309px;
  height: 37px;
  margin-bottom: 18px;
  padding-left: 42px;
}

.searchField:focus{
  outline: none;
  border: 2px solid var(--primary-color);
}

.topBotBorderBox{
  width: 309px;
  border-top: 1px solid var(--primary-text);
  border-bottom: 1px solid var(--primary-text);
  padding: 4px 0;
}

.botBorderBox{
  width: 309px;
  border-bottom: 1px solid var(--primary-text);
  padding: 4px 0;
}

.topBorderBox{
  width: 309px;
  border-top: 1px solid var(--primary-text);
}

.checkboxCourt{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  gap: 8px;
  padding: 6px 10px;
  box-sizing: border-box;
}

#cleanForecourt{
  width: 20px;
  height: 20px;

}
.arrow{
  margin-left: auto;
  margin-right: 8px;
  font-size: 28px;
  color: var(--primary-text);
  padding-right: 12px;
}
.lowLineHeight{
  line-height: 0.8;
}

.centerText{
  padding-left: 12px;
  padding-top: 4px;
}

.accordionContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.accordionHeader {
  border: 0;
  background-color: var(--secondary-color);
  border-radius: var(--primary-border-r);
  box-shadow: var(--primary-box-shadow);
  color: var(--primary-text);
  font-family: var(--subheading);
  font-weight: var(--subheading-weight);
  font-size: var(--subheading-size);
  
  box-sizing: border-box;
  cursor: pointer;
  padding: 0 10px 0 10px;
  width: 100%;
  text-align: left;
}

.accordionHeader.active {
  background-color: var(--primary-color);
}

.accordionHeader:hover {
  background-color: var(--primary-color);
}

.accordionProduct {
  border-bottom: solid 0.5px var(--primary-text);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.accordionProduct div {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.temp-products-container {
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  margin: 1rem;
  max-width: 100%;
}

.temp-products{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
  padding-bottom: 4px;
  border-bottom: #EBEBEB 1px solid;
}

.inputProductName{
  width: 100%;
  height: 2rem;
  padding: 4px;
  border-radius: 4px;
}

.modal-container {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border: 1px solid var(--tetriary-bg);
  border-radius: 4px;
  box-shadow: var(--primary-box-shadow);
}

.modal-chooseUnit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#measurementSelect {
  height: 2rem;
  padding: 4px;
  background-color: var(--primary-bg);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.searchWrap{
  position: relative;
  display: inline-block;
}

.searchIcon{
  position: absolute;
  left: 6px;
  top: 35%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  fill: #000;
  pointer-events: none; 
}

.double-chevron {
  display: inline-flex;
  align-items: center;
}

.double-chevron svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.double-chevron svg:last-child {
  margin-left: -12px;
}

.headline-with-chevron {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 34px;
}

.headline-with-chevron .double-chevron {
  display: inline-flex;
  align-items: center;
  position: absolute;
  left: 0;
}

.headline-with-chevron .double-chevron svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.headline-with-chevron .double-chevron svg:last-child {
  margin-left: -12px;
}

.headline-with-chevron .title {
  text-align: center;
  flex: 1;
}

.headline-with-chevron a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-text);
}

.title {
  text-align: center;
  flex: 1;
}

.textAlignCenter{
  text-align: center;
}

.buttonRow {
  display: flex;
  gap: 2rem;
  margin-bottom: 24px;
}

.cancelButton{
 width: 50%;
 cursor: pointer;
}

.confirmButton{
  width: 50%;
  cursor: pointer;
}

.imageInput {
  display: none;
}

.imageUploadContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: solid 1px #BFBFBF;
  padding: 14px;
  border-radius: var(--primary-border-r);

}

.customImageUpload {
  gap: 10px;
  cursor: pointer;
}

.customImageUpload span {
  width: 100%;
}

.gap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.taskDataContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: solid 1px #BFBFBF;
  padding: 14px;
  border-radius: var(--primary-border-r);
}

.taskDataContainer img {
  width: 100%;
  border-radius: var(--primary-border-r);
}

.goToBtn {
  border-radius: var(--primary-border-r);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 1px var(--tetriary-bg);
  background-color: var(--secondary-bg);
  padding: 0 14px 0 14px;
  text-decoration: none;
  color: var(--primary-text);
  box-shadow: var(--primary-box-shadow);
}

.header {
  
}