<form method="post" action="/forgot-password/verify-user" class="gap">
    <h1 class="headline">Forgot Password</h1>
    
    {{#if error}}
      <div class="error-message">{{error}}</div>
    {{/if}}
    
    <p>Enter your email to reset your password:</p>
    
    <input class="activeInputField" type="email" name="email" placeholder="Email" required>
    
    <button type="submit" class="button2">Continue</button>
    <a href="/" class="button1">Cancel</a>
</form>