
{{!-- test to be removed  --}}
<p class="headline">This is a headline</p>
<p class="subHeadline">This is a subheadline</p>
<p class="paragraph">This is a paragraph</p>
<div class="box"><p>box shadow</p></div>

<button class="button1">Manage options</button>
<button class="button2">Save changes</button>
<a class="deleteStaff">Delete staff</a>