<form>   
    <h1 class="headline">Login</h1>
    <input type="text" placeholder="Email">
    <input type="text" placeholder="Password">
    <a class="paragraph">Forgot your password?</a>
    <button class="button2">Login</button>
</form>  