
{{!-- test to be removed  --}}
<div class="loginCard">
    <div class="mainCard">
        <h1 class="headline">Login</h1>
        <form method="post" action="/login">
        <input type="email" name="email" id="email" placeholder="Email" required/>
        <input type="password" name="password" id="password" placeholder="Password" required/>
        <div class="buttonContainer">
            <button class="button2">Login</button>
            <a class="forgotPassword">Forgot password?</a>
        </div>
        </form>
    </div>
</div>

