<nav class="admin-add-staff-nav">
  <a href="/admin/staff">Back to Staff List</a>
</nav>

{{! Add "Edit Field Icon" to input fields }}
<section class="admin-add-staff-form">
  <input
    type="text"
    id="staff-firstName"
    name="staff-firstName"
    placeholder="First name"
    required
  />
  <input
    type="text"
    id="staff-lastName"
    name="staff-lastName"
    placeholder="Last name"
    required
  />
  <input
    type="text"
    id="staff-email"
    name="staff-email"
    placeholder="E-mail"
    required
  />
</section>

<section class="admin-add-staff-buttons">
  <button>+ Add to stations</button>
  <button>Save Changes</button>
</section>