<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <headline class="headerText">Staff </headline>
</head>
<body>
  <div>
    
    <div class="button1">
      <div class="buttonContent">
        <a href="/admin/staff/admin-add-staff">
          <button type="button">Add New Staff</button>
        </a>
      </div>

    </div>
      <div>
        {{#each staff}}
          <div class="temp-products-container">
            <div class="temp-products">
              {{this.name}}
              <a href="/admin/staff/{{this.id}}/edit">Edit</a>
            </div>
          </div>
        {{/each}}
      </div>
  </div>
</body>
</html>