<a href="/admin/stations/info/{{stationId}}">Cancel</a>
{{#each users}}
  <div>
    <input 
      type="radio" 
      name="userId" 
      value="{{this.id}}" 
      {{#if (eq this.id ../currentUserId)}}checked{{/if}}>
    <label>{{this.name}}</label>
  </div>
{{/each}}
