<div>
    <div class="header">
        <i></i>
        <p class="heading">View history</p>
    </div>
</div>
<div>
    <input type="search" placeholder="Search...">
</div>
<div>
    {{#each tasks}}
    <a href="/staff/history/task/{{this.id}}">
        <h2 class="subHeadline">{{this.[station.name]}}</h2>
        <p class="paragraph">{{this.[station.address]}}</p>
        <p class="paragraph">{{this.formattedDate}}</p>
    </a>
    {{/each}}
</div>