<div class="header">
    <h1>Your stations</h1>
    <a><button class="button1">View history</button></a>
</div>
<div>
    {{!-- lav for loop --}}
    <a>
        <div class="station-card box">
            <img class="station-placeholder-img">
            <div>
                <p class="subHeadline">{{this.adress}}</p>
            </div>
        </div>
    </a>
</div>