<div>
    <div class="header">
        <i></i>
        <h1>View history</h1>
    </div>
</div>
<div>
    <input>
</div>
<div>
    {{!-- lav for loop --}}
    <a>
        <div class="station-card box">
            <img class="station-placeholder-img">
            <div>
                <p class="subHeadline">{{this.adress}}</p>
                <p class="paragraph"></p>
            </div>
        </div>
    </a>
</div>