<div class="title">
    <p class="headline">{{title}}</p>
    <a href="history" class="button1"><i></i>View history</a>
</div>
<div>
    {{#each stations}}
    <div class="stationCard box">
      <a href="/staff/task/{{this.id}}">
        <img src="/img/gas-station-placeholder.avif" class="stationPlaceholderImg">
        <div class="stationCardOverlay">
            <div class="lowLineHeight centerText">
              <span class="subHeadline">{{this.name}}</span> <br>               
              <span class="paragraph">{{this.address}}</span>
            </div>
            <div class="arrow">→</div>
        </div>  
      </a>
    </div>
    {{/each}}
</div>