<div>
    <div class="header">
        <i></i>
        <p class="headline">Station name</p>
    </div>
</div>
<div class="imageUploadBox">
    <p class="subHeadline">Vaskehal</p>
    <a><button class="button1"><i></i></button></a>
    <div>
        {{!-- Til billeder taget --}}
    </div>
</div>
<div class="imageUploadBox">
    <p class="subHeadline">Forplads</p>
    <a><button class="button1"><i></i></button></a>
    <div>
        {{!-- Til billeder taget --}}
    </div>
</div>

{{!-- <div class="accordion">
    <div class="accordionHeader">
        <p class="subHeadline">Products</p>
        <i></i>
    </div>
    <ul class="accordionList">
        {{#each products}}
        <li class="listItem">
            <p class="paragraph">{{this.name}}</p>
            <input>
            <p class="paragraph">{{measurement.measurement_symbol}}</p>
        </li>
        {{/each}}
    </ul>
</div> --}}
<div>
    <a><button class="button2">Upload</button></a>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.min.js"></script>
<script src="../views.js"></script>