<div>
    <div class="header">
        <i></i>
        <p class="heading">View history</p>
    </div>
</div>
<div>
    <input type="search" placeholder="Search...">
</div>
<div>
    {{!-- lav for loop --}}
    <a>
        <div class="stationCard box">
            <img class="stationPlaceholderImg">
            <div>
                <p class="subHeadline">{{this.adress}}</p>
                <p class="paragraph"></p>
            </div>
        </div>
    </a>
</div>