<div class="header">
    <p class="headline">Your stations</p>
    <a href="history" class="button1"><i></i>View history</a>
</div>
<div>
    {{#each stations}}
    <a href="/staff/task/{{this.id}}">
        <div>
            <img>
            <div>
                <div>
                    <p>{{this.name}}</p>
                    <p>{{this.address}}</p>
                </div>
                <i></i>
            </div>
        </div>
    </a>
    {{/each}}
</div>