<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <headline class="headerText">Products</headline>
</head>
<body>
  <div>
    <a href="/admin/" > <p><<</p>  </a>


    <a href="/admin/products/partials/admin-add-products" class="button1">
      <div class="buttonContent">
        <div> + </div>
        <div>Add New Product</div>
      </div>
    </a>

      <div>
        {{#each products}}

      <div class="temp-products-container">
        <div class="temp-products">
          {{this.name}}
          <a href="/admin/products/partials/admin-edit-products/{{this.id}}">Edit</a>
        </div>
      </div>

        {{/each}}
      </div>
  </div>
  
</body>
</html>